@charset "UTF-8";
/**************début RAZ**************/
@font-face {
  font-family: "Retro";
  src: url(../font/Retro\ Gaming.ttf);
}
@font-face {
  font-family: "test";
  src: url(../font/Magic\ Fleurons\ NC.ttf);
}
/*............................RAZ.........................*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.row-limit-size {
  max-width: 1200px;
  width: 100%;
}

body {
  background-image: url(../images/fond/theme.png);
  background-repeat: no-repeat;
  width: 100%;
}

li {
  list-style-type: none;
}

/**************fin RAZ**************/
/*....................début index.php.............................*/
#accueil {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
#accueil .ticker-container {
  width: 100%;
  overflow: hidden;
  position: fixed;
}
#accueil .ticker-container .ticker-content {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  /* Décale le contenu en dehors de la vue initiale */
  animation: tickerMove 20s linear infinite;
  /* Ajustez la durée selon vos besoins */
}
#accueil .ticker-container .ticker-content .ticker-item {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.2rem;
  line-height: 2;
  color: #EA667E;
}
#accueil #index-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
#accueil #index-header > h1 {
  font-family: "Retro";
  font-size: 4rem;
  color: #DB19A0;
  margin: 5px;
  animation: colorFade 5s infinite;
}
#accueil #index-header > h2 {
  font-family: "Retro";
  font-size: 2rem;
  color: #EA667E;
  margin: 5px;
}
#accueil nav {
  margin-top: 130px;
  font-size: 2rem;
  font-family: "Retro";
  justify-content: center;
  display: flex;
}
#accueil nav ul li {
  display: flex;
  margin: 10px;
  align-items: center;
  flex-direction: row;
}
#accueil nav ul li img {
  width: 25px;
  height: 25px;
}
#accueil nav ul li a {
  margin-left: 10px;
  color: #D918A7;
}
#accueil #index-footer {
  margin-top: 50px;
}
#accueil #index-footer p {
  padding: 10px;
  color: #EA667E;
  font-size: 1.3rem;
}
#accueil #index-footer p a {
  color: #DB19A0;
}

/*....................fin index.php.............................*/
/*....................début css squelette.............................*/
/*.....HEADER.....*/
.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.main-header nav {
  width: 40%;
}
.main-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-header nav ul li a {
  font-family: "Retro";
  color: #D918A7;
}

/*.....FOOTER.....*/
.footer-site {
  margin-top: 50px;
}
.footer-site p {
  padding: 10px;
  color: #EA667E;
  font-size: 1.3rem;
}
.footer-site p a {
  color: #DB19A0;
}

/*....................début css contenus.............................*/
main {
  display: flex;
  margin: 0 auto;
  /*.....PAGE.FORMATION.....*/
  /*.....PAGE.PROJET.....*/
  /*.....PAGE.CONTACT.....*/
  /*.....PAGE.CREDIT.....*/
}
main #formation {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #formation #arcade-game {
  background-image: url(../images/fond/controlescreen.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #formation #arcade-game #target-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main #formation #arcade-game #target-description p {
  color: #D918A7;
  width: 80%;
  font-size: 1rem;
  font-family: "retro";
  word-wrap: break-word;
  word-break: break-all;
}
main #formation #arcade-menu {
  cursor: url(../images/reticule.cur), auto;
  width: 30%;
  display: flex;
  margin: 0 auto;
  position: relative;
  height: 300px;
  border: 1px solid blueviolet;
}
main #formation #arcade-menu p {
  color: red;
}
main #formation #arcade-menu .moving-image {
  position: absolute;
  width: 75px;
  height: 75px;
  z-index: 1;
  transition: transform 5s linear;
}
main #formation #arcade-menu .moving-image.explode {
  animation: explosion 0.5s ease-out forwards;
}
main > #mesProjets {
  width: 100%;
}
main > #mesProjets > article > .containerCards {
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 0 30%;
  /* Masquer la scrollbar pour Firefox */
  scrollbar-width: none;
  /* Masque la scrollbar */
}
main > #mesProjets > article > .containerCards::-webkit-scrollbar {
  display: none;
  /* Masque la scrollbar */
}
main > #mesProjets > article > .containerCards > .card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #EA667E;
  margin: 10px;
}
main > #mesProjets > article > .containerCards > .card > .languages > img {
  width: 25px;
  height: 25px;
}
main > #mesProjets > article > .containerCards > .card > img {
  width: 350px;
  height: 200px;
}
main > #mesProjets > article > .containerCards > .card > h1 {
  margin: 10px auto;
  color: #EA667E;
  font-size: 2.2rem;
}
main > #mesProjets > article > .containerCards > .card > h2 {
  width: 300px;
  margin-top: 10px;
  color: #EA667E;
  font-size: 2rem;
  text-align: center;
}
main > #mesProjets > article > .containerCards > .card > p {
  width: 348px;
  height: 90px;
  margin-top: 10px;
  color: #EA667E;
  font-size: 1.3rem;
  text-align: center;
  border-left: 1px solid #57304F;
  border-right: 1px solid #57304F;
}
main > #mesProjets > article > .containerCards > .card > a {
  width: 250px;
  margin: 15px auto;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #F5D3D4;
  color: #57304F;
}
main > #contact {
  width: 100%;
}
main > #contact > #titreFormulaire {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: #F07D6B;
}
main > #contact > #formulaire {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
  border-radius: 10px 10px 10px 10px;
}
main > #contact > #formulaire > #boite {
  width: 50%;
  display: flex;
  flex-direction: column;
}
main > #contact > #formulaire > #boite > #infosContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > #contact > #formulaire > #boite > #infosContact > h2 {
  color: #F07D6B;
  margin-top: 10px;
}
main > #contact > #formulaire > #boite > #infosContact > p {
  margin-top: 20px;
  color: #F07D6B;
}
main > #contact > #formulaire > #boite > form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
main > #contact > #formulaire > #boite > form > .champ {
  width: 250px;
  margin-left: 39px;
  margin-top: 30px;
  color: #F07D6B;
}
main > #contact > #formulaire > #boite > form > .champ > label {
  color: #F07D6B;
}
main > #contact > #formulaire > #boite > form > .champ > input {
  border: 0;
  height: 25px;
  border-radius: 50px;
  padding-left: 10px;
  margin-top: 10px;
}
main > #contact > #formulaire > #boite > form > .champ > textarea {
  width: 400px;
  height: 100px;
  resize: none;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}
main > #contact > #formulaire > #boite > form > .formu {
  width: 100px;
  height: 50px;
  cursor: pointer;
  display: flex;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
  color: #F07D6B;
  font-size: 1.3rem;
  background-color: #f5d3d4;
  border: 0;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 10px 3px #5f256f;
}
main > #contact > #formulaire > #boite > form > .formu:hover {
  display: block;
  height: 50px;
  transform: scale(1.5, 1.5);
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}
main > #contact > #formulaire > #boite > form > #identity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
main > #contact > #formulaire > #boite > form > #identity > .champ > label {
  color: #F5D3D4;
}
main > #contact > #formulaire > #boite > form > #identity > .champ > input {
  border: 0;
  width: 150px;
  height: 25px;
  border-radius: 50px;
  padding-left: 10px;
  margin-top: 10px;
}
main > #contact > #formulaire > #reseauxSociaux {
  width: 50%;
}
main > #contact > #formulaire > #reseauxSociaux > #fondImg {
  position: relative;
  width: 450px;
  border-radius: 50%;
  left: 25px;
  top: 180px;
}
main > #contact > #formulaire > #reseauxSociaux > #fondImg > .rezo {
  width: 400px;
  height: 250px;
  display: flex;
  margin: 0 auto;
  padding-top: 15%;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial {
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial > .mediaLogo {
  position: absolute;
  transform-origin: bottom center;
  animation: orbit 10s linear infinite;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial > .mediaLogo > img {
  width: 90px;
  height: 90px;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(2) {
  animation-delay: 1s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(3) {
  animation-delay: 2s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(4) {
  animation-delay: 3s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(5) {
  animation-delay: 4s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(6) {
  animation-delay: 5s;
}
main > #contact > #formulaire > #reseauxSociaux > #logosSocial .mediaLogo:nth-child(7) {
  animation-delay: 6s;
}

@keyframes tickerMove {
  to {
    transform: translateX(-100%);
  }
}
@keyframes colorFade {
  0% {
    color: #DB19A0;
  }
  25% {
    color: #EA667E;
  }
  50% {
    color: #FF7FFF;
  }
  75% {
    color: #EA667E;
  }
  100% {
    color: #DB19A0;
  }
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateY(225px);
  }
  to {
    transform: rotate(360deg) translateY(225px) rotate(-360deg);
  }
}
@keyframes explosion {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2); /* Ajuste la taille finale de l'explosion */
    opacity: 0; /* Rendre l'image invisible après l'explosion */
  }
}/*# sourceMappingURL=style.css.map */